@media (max-width: 578px) {
  html{
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
  }
  h1{
    font-size: 60px;
  position: relative;
  z-index: 2;
}
.navbar i {
    display: block;
  }
  .header{
    z-index: 9999;
  }
  .menu {
    justify-content: space-around;
    flex-direction: column;
    top: 90px;
    right: 10px;
    width: 50%;
    height: calc(50vh - 100px);
    display: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.98);
    border-radius: 5px;
    gap: 0px;
    position: absolute;
    z-index: 9999;
  }
  .menu:checked{
    display: flex;
    
  }
  #toggle-menu {
    display: none;
  }
  #toggle-menu:checked + .menu {
    display: flex;
  }
  /*-------------- */
  /* ------------------------------- */
  /* ------------------------- */
  /* ------------------------------- */
  /* ------------------------- */
  /* ------------------------------- */
  .section-second {
    flex-direction: column;
    height: 900px;
    gap: 10px;
  }
  .hero-img {
    width: 330px;
    height: auto;
  }
  .hero-text {
    width: 330px;
    height: 600px;
    gap: 15px;
  }
  /* ------------------------- */
  /* ------------------------------- */
  /* ------------------------- */
  /* ------------------------------- */
  /* ------------------------- */
  /* ------------------------------- */
  .section-three {
    height: 760px;
    display: flex;
    flex-direction: column;
  }
  .tittle-text {
    width: 330px;
    gap: 15px;
    text-align: center;
  }
  /* ------------------------- */
  /* ------------------------------- */
  /* ------------------------- */
  /* ------------------------------- */
  /* ------------------------- */
  /* ------------------------------- */
  .actividades {
    height: 800px;
  }
  .text-act {
    font-size: medium;
    font-weight: 300;
    text-align: center;
    margin: 10px 5px;
    text-align: center;
  }
  .container-actividades {
    display: flex;
    flex-direction: column;
    height: 700px;
    gap: 10px;
  }
  .img-actividades {
    height: 190px;
    width: 320px;
  }
  .imgact1 {
    height: 50px;
    width: 50px;
  }
  .imgact2 {
    height: 50px;
    width: 50px;
  }
  .imgact3 {
    height: 50px;
    width: 50px;
  }
  h5 {
    margin: 10px 0px;
  }
  .p-act {
    margin: 0 auto;
    width: 320px;
  }
  button {
    margin: 0 auto;
  }
  .centrar{
    margin: 0 auto;
    padding: 0px;
  }
  /* ------------------------- */
  /* ------------------------------- */
  /* ------------------------- */
  /* ------------------------------- */
  /* ------------------------- */
  /* ------------------------------- */
  footer {
    flex-direction: column;
    height: 1300px;
  }
  .ubicacion {
    height: 500px;
  }
  iframe{
    width: 300px;
    height: 400px;
  }
}
