@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html{
        scroll-behavior: smooth;
        scroll-padding-top: 73px;
}
body{
    font-family: 'Cormorant SC', serif;
    color: white;
    }
:root{
    --celeste: #0372a9;
    --verde: #82a691;
    --gris: #2d3640;
    --negro: #131415;
    --crema: #f2f2f0;
}
                            /*! ACA ARRANCO CON EL HEADER */
.header{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    margin: 0 auto;
    position: sticky;
    top: 0%;
    z-index: 9999;
}
.logo{
    height: 60px;
    cursor: pointer;
}
.logo:hover{
    transform: rotate(360deg);
    transition: transform 2s ease;
}
.navbar{
    display: flex;
}
#toggle-menu{
    display: none;
}
.navbar i{
    display: none;
    color:#00283c;
    font-size: xx-large;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.item-menu{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
#hamb{
    display: none;
}
.item-menu{
    position: relative;
    padding: 10px 0px;
}
.header .link::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color:#03045eff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform:  scaleX(0);
    transform-origin: bottom right;
    animation-name: cambiarColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.header .link:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 0.3s ease;
}
@keyframes cambiarColor{
    0%{
        background-color:  #023e8aff;
    }
    20%{
        background-color: #0077b6ff;
    }
    40%{
        background-color: #0096c7ff;
    }
    60%{
        background-color: #00b4d8ff;
    }
    80%{
        background-color: #48cae4ff;
    }
    100%{
        background-color:  #90e0efff;
    }
}

                            /*! ACA TERMINO CON EL HEADER */
/*!-------------------------------------------------------------------------- */
                         /*! ACA ARRANCO CON LA PRIMER SECTION */                   
.section-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    background:url(./img/ult.jpg) no-repeat center/cover;
}
h1{
    text-align: center;
    font-size: 120px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.81);
    z-index: 0;
}
                         /*! ACA TERMINO CON LA PRIMER SECTION */
/* !------------------------------------------------------------------------ */
                         /*! ACA ARRANCO CON LA SEGUNDA SECTION */
.section-second {
    background: linear-gradient(180deg, #335577ff, #5A80A2ff 25%);
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.hero-img{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
}
.hero-text {
    display: flex;
    flex-direction: column;
    width: 700px;
    text-align: center;
    align-items: center;
    gap: 30px;
}
h2 {
    font-size: xx-large;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.81);
}
                         /*! ACA TERMINO CON LA SEGUNDA SECTION */
/* !------------------------------------------------------------------------ */
                         /*! ACA ARRANCO CON LA TERCERA SECTION */
.section-three {
    background: linear-gradient(180deg, #335577ff, #5A80A2ff 25%);
    height: 90vh;
}
.tittle-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 900px;
    gap: 15px;
}
.tittle-st {
    font-weight: 600;
    font-size: xx-large;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.81);
}
.text-st {
    font-weight: 400;
    font-size: larger;
}
.container-grid {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(160px, auto);
}
.container-grid div {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
}
.item:nth-child(1){
    background:url(./img/house1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/3;
}
.item:nth-child(2){
    background: url(./img/house2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/3 ;
    grid-row: 1/2;
}
.item:nth-child(3){
    background: url(./img/house4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/4 ;
    grid-row: 1/2;
}
.item:nth-child(4){
    background: url(./img/house6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/3 ;
    grid-row: 3/2;
}
.item:nth-child(5){
    background: url(./img/house7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/4 ;
    grid-row: 2/3;
}
.item:nth-child(6){
    background: url(./img/ult.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/4 ;
    grid-row: 3/3;
}
                         /*! ACA TERMINO CON LA TERCERA SECTION */
/* !------------------------------------------------------------------------ */
                         /*! ACA ARRANCO CON LA SECTION  ACTIVIDADES */
.actividades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #335577ff, #5A80A2ff 25%);
    height: 90vh;
}
.h3-act{
    text-align:center;
    font-size: xx-large;
    font-weight: 900;
    padding-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.81);
    margin-top: 30px;
}
.text-act{
    font-weight: 500;
    font-size:large;
    text-align: center;
}
.container-actividades{
    display: flex;
    flex-direction:row;
    justify-content: center;
    height: 700px;
}
.img-actividades{
    text-align: center;
    margin: 0px 100px;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}
.imgact1{
    background: url(./img/evento.png) no-repeat center/cover;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    opacity: 0.8;
}

.imgact2{
    background: url(./img/kayak.png) no-repeat center/cover;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
.imgact3{
    background: url(./img/trekking.png) no-repeat center/cover;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
h5{
    font-size: larger;
    font-weight: 900;
}
.p-act{
    font-weight: 300;
    margin: 15px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
}
button{
    text-align: center;
    border: none;
    margin: 10px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Cormorant SC', serif;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
    margin: 0 auto;
}
button:hover{
    background-color: #00283c;
    color: white;
    transition: all 1s ease;
    transform: scaleX(20px);
}
.centrar{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

/*! ACA TERMINO CON LA SECTION ACTIVIDADES */
/* !------------------------------------------------------------------------ */
                         /*! ACA ARRANCO CON EL FOOTER */
footer {
    background: linear-gradient(180deg, #335577ff, #5A80A2ff 25%);
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ubicacion{
    background:linear-gradient(180deg, #335577ff, #5A80A2ff 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 70px 20px;
    max-width: 1000px;
}
h4 {
    font-size: xx-large;
    font-weight: 900;
}
iframe {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 0px 20px;
    background:linear-gradient(180deg, #335577ff, #5A80A2ff);
    max-width: 700px;
}
form{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    width: 300px;
    min-width: 100px;
    margin: 0 auto;
    font-size:large;
    font-weight: 700;
}
textarea {
    width: 300px;
    min-width: 100px;
}
p {
    font-size:large;
    font-weight: 700;
}
label{
    font-size:large;
    font-weight: 700;
}
input{
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 20px;
    padding: 10px;
    font-family: 'Cormorant SC', serif;
    transition: all 0.40s ease;
    font-size: large;
}
input:focus{
    outline: none;
    font-weight: 900;
    background-color: white;
    transition: all 0.5s ease;
    height: 30px;
}
textarea{
    border: none;
    border-radius:10px ;
    padding: 10px;
    max-width: 300px;
    min-height: 50px;
    max-height: 50px;
    font-family: 'Cormorant SC', serif;
    transition: all 0.40s ease;
    font-size: large;
}
textarea:focus {
    outline: none;
    font-weight: 900;
    max-height: 70px;
}
form button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-family: 'Cormorant SC', serif;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
    margin:20px 80px;
} 
